/* Estilos para la barra de navegación */
header {
  background-color: #e2751b;
  color: #fff;
  padding: 10px;
  font-family: sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para el formulario */
form {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para los campos del formulario */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para el botón de enviar */
input[type="submit"] {
  background-color: #ff6200;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ff893d;
}

/* Estilos para la imagen del escudo */
.logo {
  display: block;
  margin: 20px auto;
  max-width: 200px;
}

/* Estilos para el pie de página */
footer {
  background-color: #e2751b;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}